<table border= 1>
    <thead>
        <tr>
            <td>日付</td>
            <td>タイトル</td>
            <td>担当者</td>
        </tr>
    </thead>
    <tbody>
        <% tasks.each do |task| %>
            <tr>
                <td><%= task.start_time.strftime("%Y年%-m月%-d日 %-H時%-M分") %></td>
                <td>
                    <!--タスク名にリンクをつけて表示-->
                    <% if admin_signed_in? %>
                        <%= link_to task.title, admin_group_task_path(group, task) %>
                        <%= task.score %>
                    <% elsif user_signed_in? %>
                        <%= link_to task.title, public_group_task_path(group, task) %>
                    <% end %>
                </td>
                <% task.task_users.each do |task_user|%>
                    <td>
                        <%= task_user.user.name %><br> <!--タスク担当者名を表示-->
                        <%= I18n.t("enums.task_user.task_status.#{task_user.task_status}") %> <!--タスク担当者のタスク進捗状況を表示-->
                    </td>
                <% end %>
            </tr>
        <% end %>
    </tbody>
</table>