<!--エラーメッセージ-->
<div class="row m-1"><%= render "public/shared/error_messages", resource: @group %></div>

<div class="container">
  <div class="group-form mt-5 mb-2">
    <h5>グループを作成　</h5>
    <%= form_with model: @group, url: public_groups_path do |f| %>
      <div class="group-form">
        <%= f.text_field :name, placeholder: "新しいグループ名", maxlength: 30 %>
        <%= f.submit '作成' %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="content-bg">
        <h5>マイグループ</h5>
        <% @my_groups.each do |my_group| %>
          <table>
            <tr>
              <td><%= link_to my_group.name, public_group_path(my_group), class: "text-dark" %></td>
              <td>
                <%= link_to "退会する", public_group_group_user_path(my_group, current_user), method: :delete, "data-confirm" => "本当に退会しますか？" %>
              </td>
            </tr>
          </table>
        <% end %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="content-bg">
        <h5>グループ一覧</h5>
        <%= render 'public/groups/index', groups: @groups %>
      </div>
    </div>
    <!--検索機能-->
    <div class="col-md-4">
      <div class="content-bg p-2">
        <div class="mb-2">
          <%= form_with url: public_groups_path, method: :get, local: true do |f| %>
            <%= f.text_field :content, placeholder: "グループ名で検索" %>
            <%= f.submit "検索" %>
          <% end %>
        </div>
        <!--検索結果表示-->
        <% if @content %>
          <div class= "center">
            <div>
              <h5>"<%= @content %>"検索結果</h5><br>
              <%= render 'public/groups/index', groups: @records %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>