<div class="contain">
  <h4>グループを作成</h4>
    <%= form_with model: @group, url: public_groups_path do |f| %>
      <%= f.text_field :name, placeholder: "新しいグループ名", maxlength: 30 %>
      <%= f.submit '作成' %>
    <% end %>
  <div class="row">
    <div class="col p-3">
      <h5>マイグループ</h5>
      <% @my_groups.each do |my_group| %>
        <table>
          <tr>
            <td><%= link_to my_group.name, public_group_path(my_group) %></td>
            <td><%= link_to "退会する", public_group_group_user_path(my_group, current_user), method: :delete %></td>
          </tr>
        </table>
      <% end %>
    </div>
    <div class="col p-3">
      <h5>グループ一覧</h5>
      <% @groups.each do |group| %>
        <table>
          <tr>
            <td><%= link_to group.name, public_group_path(group) %></td>
            <td><%= link_to "参加する", public_group_group_users_path(group), method: :post %></td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
</div>