<h3><%= @group.name %>のタスク一覧</h3>
<%= link_to "グループタスクを作成",new_public_group_task_path(@group) %>

<h5>表示切り替え</h5>
<%= link_to "一覧",public_group_path(@group) %>|
<%= link_to "カレンダー",public_group_calender_path(@group) %>|
<%= link_to "ウィークリー", public_group_weekly_path(@group) %>


<table border= 1>
    <thead>
        <tr>
            <td>日付</td>
            <td>タイトル</td>
            <td>担当者</td>
        </tr>
    </thead>
    <tbody>
        <% @tasks.each do |task| %>
            <tr>
                <td><%= task.start_time %></td>
                <td><%= link_to task.title, public_group_task_path(@group, task) %></td>
                <% task.task_users.each do |task_user|%>
                <td>
                    <%= task_user.user.name %><br>
                    <%= I18n.t("enums.task_user.task_status.#{task_user.task_status}") %>
                </td>
                <% end %>
            </tr>
        <% end %>
    </tbody>
</table>

