<h3 class="center m-4"><%= @group.name %>の今週のタスク</h3>
<h5 class="center">表示切り替え</h5>
<div class="center">
  <%= link_to "一覧",public_group_path(@group) %>|
  <%= link_to "カレンダー",public_group_calender_path(@group) %>|
  <%= link_to "ウィークリー", public_group_weekly_path(@group) %>
</div>
<div class="content-bg mt-5 p-1">
  <%= render 'public/groups/weekly_tasks', tasks: @tasks %>
</div>