<h3 class="center"><%= @task.group.name %>タスク</h3>
<div  class="container">
  <div class="row">
      <div class="button-box m-1">
          <div class="button"><%= link_to "一覧に戻る",admin_group_path(@group) %></div>
      </div>
      <div class="button-box m-1">
          <div class="button"><%= link_to "タスクを削除する",admin_group_task_path(@group, @task), method: :delete, "data-confirm" => "本当に削除しますか？" %></div>
      </div>
  </div>
  <div class="row p-2">
    <!--タスクの詳細情報-->
    <%= render 'public/tasks/information', task: @task %>
    <!--コメント-->
    <div class="col content-bg">
      <div class="comments_index">
        <% if @task.comments.present? %>
          <h4>コメント</h4>
          <%= render "public/comments/comments_show", {task: @task, group: @group}%>
        <% else %>
          <h4>コメントはありません<h4>
        <% end %>
      </div>
    </div>
  </div>
</div>
