<h3 class="field">新規アカウント登録</h3>

<%= form_for(resource, as: resource_name, url: user_registration_path) do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.text_field :name, placeholder: "氏名" %>
  </div>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス" %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワード" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワード（確認用）" %>
  </div>

  <div class="actions">
    <%= f.submit "新規ユーザー登録" %>
  </div>
<% end %>

