<h3 class="center m-4">一般アカウント一覧</h3>
<div class="button-box mx-auto m-2">
    <div class="button"><%= link_to "アカウント新規登録", new_user_registration_path %></div>
</div>
<div class="center">
  <table class="content-bg">
    <thead>
      <tr>
        <td>ID</td>
        <td>氏名</td>
        <td>所属</td>
        <td>メールアドレス</td>
        <td></td>
      </tr>
    </thead>
    <% @users.each do |user| %>
      <tbody>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.name%></td>
          <td><%= user.department %></td>
          <td><%= user.email %></td>
          <td><%= link_to "削除", admin_user_path(user), method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
        </tr>
      </ybody>
    <% end %>
  </table>
</div>