<div class="col content-bg">
  <p>日付：<%= task.start_time.strftime("%Y年%-m月%-d日 %-H時%-M分") %></p><br>
  <p>
    管理者：
    <% if task.user.present? %>
      <%= task.user.name %>
    <% else %>
      管理者はいません
    <% end %>
  </p><br>
  <p>担当者一覧</p>
  <table border= 1>
    <thead>
      <tr>
        <th>氏名</th>
        <th>進捗</th>
        <th>完了確認</th>
      </tr>
    </thead>
    <% task.task_users.each do |task_user| %>
      <tbody>
        <tr>
          <td>  <!--タスクの担当者を一覧にして呼び出す-->
            <%= task_user.user.name %>
          </td>
          <td>
            <%= I18n.t("enums.task_user.task_status.#{task_user.task_status}") %>  <!--タスク進捗を日本語訳して表示-->
          </td>
          <td>
            <% if task_user.is_complete == false %> <!--タスク管理者からの完了確認状況-->
              未確認
            <% else %>
              確認済
            <% end %>
          </td>
        </tr>
      </tbody>
    <% end %>
  </table>
</div>

<div class="col content-bg">
  <div class="task-box">
    <%= task.title %>
    <% if admin_signed_in? %>
      <% if task_has_negative_word?(task) %>
          <i class="fa-solid fa-heart-circle-exclamation" style="color:orange;">(<%= task.score %>)</i>
      <% elsif task_has_more_negative_word?(task) %>
          <i class="fa-solid fa-heart-crack" style="color:red;">(<%= task.score %>)</i>
      <% end %>
    <% end %>
  </div>
  <div class="task-box">
    <%= task.detail %>
  </div>
</div>