<div class="contain">
  <%= link_to "タスクを削除", public_group_task_path(@task.group_id, @task), method: :delete %>
  <div class="row">
      <div class="col-md-5">
        <%= form_with model:@task, url:public_group_task_path(@task.group, @task), method: :patch do |f| %>
          <p>日付　<%= f.datetime_select :start_time %></p><br>
          <p>担当者</p>

          <%= f.fields_for :task_users do |i| %>
              <%= i.label :task_user, i.object.user.name %>
              <!--担当者のタスク進捗状況を表示-->
              <%= i.select :task_status, TaskUser.task_statuses_i18n.invert, class: "form-control" %>

               <!--管理者ログイン時に完了確認ボタンを表示-->
               <% if current_user.id == @task.user.id %>
                 <%= i.radio_button :is_complete, false, id: "task_user_is_complete_false" %>
                 <%= i.label :is_complete_false, "未確認", {value: :false, style: "display: inline-block;", for: "task_user_is_complete_false" } %>
                 <%= i.radio_button :is_complete, true, id: "task_user_is_complete_true" %>
                 <%= i.label :is_complete_true, "確認済", {value: :true, style: "display: inline-block;", for: "task_user_is_complete_true" } %>
              <% end %><br>
          <% end %>
      </div>

      <div class="col-md-7">
          <%= f.text_field :title, placeholder: "タスクタイトル", maxlength: 21 %><br>

          <%= f.text_area :detail, placeholder: "タスク詳細", rows: 10 %><br>
          <%= f.submit '編集を保存' %>
        <% end %>
     </div>
  </div>
</div>