<div class="contain">
  <%= form_with url: public_group_tasks_path, method: :post do |f| %>
  <div class="row p-4">
      <div class="col-md-5">
          <p>日付　<%= f.datetime_select :start_time %></p><br>
          <p>担当者</p>
          <%= f. collection_check_boxes :user_ids, @group.users, :id, :name do |user| %>
            <%= user.label {user.check_box + user.text } %><br>
          <% end %>
      </div>
      <div class="col-md-7">
          <div><%= f.text_field :title, placeholder: "タスクタイトル", maxlength: 21 %></div><br>
          <div><%= f.text_area :detail, placeholder: "タスク詳細", row: 20 %></div><br>
          <div><%= f.submit '　　 　　保存　　 　　' %></div>
      </div>
  </div>
 <% end %>
</div>