<h4 class="center m-2">宛先を選んでください</h4><br>
<div class="row">
  <div class="col-md-7 offset-1">
    <div class="content-bg m-1">
      <!--新着メッセージ-->
      <div class= "center">
        <h5 class="center m-2">新着メッセージ</h5><br>
      </div>
      <div class= "center">
        <table>
          <% @new_messages.each do |message| %>
            <tr>
              <td>
                <%= link_to message.send_user.name, public_message_path(message.send_user) %>：
                <%= message.send_user.department %>
              </td>
              <td class="text-black-50" >
                <%= message.message.truncate(40) %>
              </td>
              <td>
                <%= message.created_at.strftime("%Y/%-m/%-d/ %-H:%-M") %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-3 p-1">
    <div class="content-bg m-1 p-2">
      <!--検索フォーム-->
      <div class= "center">
        <%= form_with url: public_users_path, method: :get, local: true do |f| %>
          <%= f.text_field :content, placeholder: "名前で検索" %>
          <%= f.submit "検索" %>
        <% end %>
      </div>

      <!--検索結果表示-->
      <% if @content %>
        <div class= "center">
          <div>
            <h5>"<%= @content %>"検索結果</h5><br>
            <%= render 'public/users/index', users: @records %>
          </div>
        </div>
      <% end %>
      <!--ユーザー一覧-->
      <div class= "center">
        <h5 class="center m-2">宛先一覧</h5><br>
      </div>
      <div class= "center">
        <div>
          <%= render 'index', users: @users %>
        </div>
      </div>
    </div>
  </div>
</div>