<header>
  <div class="container">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-end">
        <ul class="navbar-nav">
          <% if user_signed_in? %>

             <!--ユーザーログイン時 -->
            <div class="row p-2">
              <li class="m-1"><%= current_user.name %>さんがログイン中</li>
              <li class="m-1">
                <%= link_to public_my_tasks_path, class: "text-dark" do %>
                  <i class="fa-solid fa-list">マイタスク</i>
                <% end %>
              </li>
              <li class="m-1">
                  <%= link_to public_groups_path, class: "text-dark" do %>
                    <i class="fa-solid fa-users">グループ</i>
                  <% end %>
              </li>
              <li class="m-1">
                <%= link_to public_users_path, class: "text-dark" do %>
                    <i class="fa-solid fa-envelope">メッセージ</i>
                <% end %>
              </li>
              <li class="m-1">
                <%= link_to destroy_user_session_path, method: :delete, class: "text-dark" do %>
                  <i class="fa-solid fa-right-to-bracket">ログアウト</i>
                <% end %>
              </li>
              <li class="m-1">
                <%= link_to public_my_page_path, class: "text-dark" do %>
                  <i class="fa-solid fa-user-gear"></i>
                <% end %>
              </li>
            </div>
          <% elsif admin_signed_in? %>

            <!-- 管理者ログイン時 -->
            <div class="row p-2">
              <li class="m-1"><%= link_to "グループ・タスク管理", admin_groups_path, class: "text-dark" %></li>
              <li class="m-1"><%= link_to "ユーザー管理", admin_users_path, class: "text-dark" %></li>
              <li class="m-1"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, url: admin_session_path, class: "text-dark" %></li>
            </div>
          <% else %>
            <!--ログアウト時-->
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</head>