
<ul>
  <% if user_signed_in? %>

     <!--顧客ログイン時 -->
    <li><%= link_to "グループ", public_groups_path %></li>
    <li><%= link_to "メッセージ", public_users_path %></li>
    <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
    <li>
      <%= link_to public_my_page_path do %>
        <i class="fa-duotone fa-user-gear"></i>
      <% end %>
    </li>

  <% elsif admin_signed_in? %>

    <!-- 管理者ログイン時 -->
    <li><%= link_to "グループ・タスク管理", admin_groups_path %></li>
    <li><%= link_to "ユーザー管理", admin_user_path %></li>
    <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, url: admin_session_path %></li>

  <% else %>
    <li><%= link_to "ログイン", new_user_session_path %></li>
  <% end %>
</ul>